.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background: #1d3c34 !important;
}
.card {
  color: black;
  text-align: left;
  padding: 25px;
  margin-top: 10px;
}
.card span {
  font-size: 12px;
}
.card b {
  font-size: 14px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.card-body {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;  
  color: #1d3c34 !important;
}
.h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #1d3c34 !important;
}
.label {
  font-size: 18px;
  font-weight: 600;  
  color: #1d3c34 !important;
}
.input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
}
.input:focus {
  outline: none;
  border-color: #47acf5;
}
